# Пример настроек для БД
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tron_db

# Для получения реальных данных из mainnet Tron
TRON_NODE_URL=https://api.trongrid.io
